@use "sass:map";
@use "sass:list";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$colors: (
    gold:#f9c00c,
    blue: #00b9f1,
    purple: #7200da,
    red: #f9320c,
    green: #75D701,
);

$base-width: 200px;
$base-height: 200px;

.container{
    display: flex;
       
}


$colors-list: map.values($colors);

@for $i from 1 through list.length($colors-list) {
    .el-#{$i} {
        background-color: list.nth($colors-list, $i);
        width: 200px;
        height: 200px;
        flex-grow: 1;
    }
}